apiVersion: v1
kind: Secret
metadata:
  name: azcopy
  labels:
    app: azcopy

type: Opaque
data:
  AZCOPY_SOURCE_PATH: L2RhdGEK 
  AZCOPY_DESTINATION_PATH: aHR0cHM6Ly9iZXJyeWRldmFhNTMyZC5ibG9iLmNvcmUud2luZG93cy5uZXQvdmVsZXJvLWJhY2t1cC9kYXRhCg==
  AZCOPY_DESTINATION_SAS: <TODO>

